.boardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  .boardCard {
    display: inline-block;
    margin: 10px 5px;
  }
}
@media (max-width: 600px) {
  .boardsContainer {
    .boardCard {
      display: block;
      margin: 2px auto;
    }
  }
}
