.container > div {
  display: flex;
  justify-content: center;
  overflow: auto;

  .options_wraper {
    flex: 8;
  }
  .gallery_wraper {
    flex: 4;
    background: #e8e8e8;
    border-radius: 3px;
    display: flex;
    align-items: center;
    > div{
        width: 100%;
    }
  }
}
@media (max-width: 950px) {
  .container > div {
    flex-direction: column;
  }
}
