@import '../../../../assets/scss/variables.scss';

.search_panel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7px;
    margin-top: 5px;
    .LocationSearchInput,
    .DatePick{
        padding: 7px;
    }

    .button_search{
        background: $bg-secondary!important;
        color: #fff!important;
    }
}