.boardContainer {
  max-width: 100%;
  margin: 0 auto;
  display: flex;

  

  .board_card {
    width: 40%;
  }

  .boardCarousel {
    width: 50%;
    div:first-child {
      display: flex;
      justify-content: center;
    }
  }
}

@media(max-width:950px){
  .boardContainer{
    flex-direction: column;
    .boardCarousel {
      width: 100%;
    }
    .board_card {
      width: 100%;
      > div {
        width: 100%;
      }
    }
  }
}

@media (max-width: 600px) {
  .boardContainer {
    .boardCarousel {
      width: 100%;
    }
  }
}
