$solar-edge-color: #da2128;
$bg-primary: #2a2c2e;
$bg-secondary: #a73a9d;
$error-color: #f44336;
$text-color: #a73a9d;
$text-color-dimmed: #afaeae;
$mobile-width: 1023px;
$min-screen-width: 1024px;
$min-screen-height: 598px;
$card-padding: 16.5px;
$frame-padding: 32px;
$color-light: #fff;
